<main>
  <section class="form-section">
    <img src="/assets/logo.png" />
    <h2>{{ title }}</h2>
    <ng-content></ng-content>

    <div class="btn-wrapper">
      <button
        class="btn-primary"
        (click)="submit()"
        [disabled]="disablePrimaryButton"
      >
        {{ primaryButtonText }}
      </button>
      <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
      </div>
      <div class="secondary-wrapper">
        <span>
          {{ secondaryButtonLabel }}
        </span>
        <button class="btn-secondary" (click)="navigate()">
          {{ secondaryButtonText }}
        </button>
      </div>
    </div>
  </section>
  <section class="main-section">
    <!-- <h1>LOGO</h1> -->
    <img src="/assets/logo2.png" />
  </section>
</main>
